<html>
<head>
<link href ='css/style.css' rel='stylesheet'>

</head>
<div><center><p class="headline">HANGMAN</p></center></div>

<body>
</body>

<%=yield%>

<footer>
<br><br><br><br><br><br><br><br><br><br><br><br>
	<center><div class="footer"><p>Posted by: Chad Swatsworth</p>
</footer>
</div>
</center>
</html>

