<center><h1>Welcome to Hangman!</h1>


<form action='name' method='post'>
	
	<h2>Name of Player Choosing The Game Word</h2>
	<input type='text' name='p1_name_input'>

	<h2>Name of Player Guessing The Word</h2>
	<input type='text' name='p2_name_input'>
	<input type='submit' value = 'Submit'>
</form></center>