<br><br><br>
<center><h1>Welcome to Hangman</h1>
<br>
<form action='names' method='post'>

	<h3>Who Is Chosing The Word?:
	<input type='text' name='p1_name_input' required="text" placeholder="player1"><p>
	
	Who Is Guessing The Word?:
	<input type='text' name='p2_name_input' required="text" placeholder="player2"></h3><b>

	<input type='submit'>

</form></center>