<center><h1><%=player2%>, Game On! <%=player1%> has chosen a length letter word. If you guess an incorrect letter 6 times you lose!</h1>

<form method="post" action="play_game">

<input type="hidden" name="p2_name_input" value="<$=player2%>">
<input type="hidden" name="p1_name_input" value="<%=player1%>">
<input type="hidden" name="word_input" value="<%=secret_word%>">
<input type="text" name="guess_input">
<input type="submit" value="Guess">
</form></center>
