<center><h1><%=player1%> Please Choose a Secret Word</h1>

<form  method='post' action='secret_word'>

<input type="hidden" name="p2_name_input" value="<%=player2%>">
<input type="hidden" name="p1_name_input" value="<%=player1%>">

<input type="password" name="word_input">
<input type='submit' value="submit">
</form></center>

